.stats {
  .table {
    width: 90%;
    max-width: 850px;
    margin: auto;

    &.celled thead tr th {
      background-color: $nt-darkgrey;
      color: #e7e7e7;
      border-left: none;
    }

    tr.woozy td {
      background-color: fade-out($status-woozy, 0.8);
    }

    tr.sick td {
      background-color: fade-out($status-sick, 0.8);
    }
  }
}